.main{
    background-color: gray;
    height: 200px;
}

.box-cont{
    background-color: gray;
    height: 700px;

}

.header{
    display: flex;
    justify-content: space-between;
    gap: 45px;
    font-size: larger;
    margin-left: 20px;
    margin-top: px;
}
button{
    height:40px;
    padding:10px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 15px;
    color: white;
}

.img{
    
    background-image: url(./images\ \(1\).jpg);
    height: 400px;
    
    background-repeat: no-repeat;
    background-size:cover ;
    
}

h1{
    margin-left: 550px;
    
}

input{
    margin-left: 500px;
    height: 38px;
    width: 400px;
    border:None;
}

.content{
    padding: 80px;
}

#button1{
    margin-left: -5px;
    border:none;
    background-color: blue;
    color: white;
    border-radius: 1px;
}

.a{
    display: flex;
    justify-content: space-around;
}

.b{ 
    margin-left: 25px;
    margin-top: 25px;
}

 i{
    margin-left: 45px;
    align-items: center;
    padding: 5px;
    font-size: 40px;
}

.c{
    margin-left: 25px;
    margin-top: 25px;
}

.d{
    margin-left: 25px;
    margin-top: 25px;
}